<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>主页</title>
  <link rel="stylesheet" href="/static/layui/css/layui.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <div class="layui-logo">
        <img src="/static/pic/head-ico.jpg">
    </div>
    <!-- 头部区域（可配合layui已有的水平导航）
    <ul class="layui-nav layui-layout-left">
      <li class="layui-nav-item"><a href="">控制台1</a></li>
      <li class="layui-nav-item"><a href="">控制台1</a></li>
      <li class="layui-nav-item"><a href="">控制台1</a></li>
      <li class="layui-nav-item">
        <a href="javascript:">控制台1</a>
        <dl class="layui-nav-child">
          <dd><a href="">控制台1</a></dd>
          <dd><a href="">控制台1</a></dd>
          <dd><a href="">控制台1</a></dd>
        </dl>
      </li>
    </ul>
      -->
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item">
        <a href="javascript:">
            你好，{{ data.name }} ！
        </a>
        <dl class="layui-nav-child">
            <dd><a href="/chg_pwd/" target="main-iframe-name">修改密码</a></dd>
            <!--
            <dd><a href="">安全设置</a></dd>
            -->
        </dl>
      </li>
      <li class="layui-nav-item"><a href="">退出</a></li>
    </ul>
  </div>

  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree"  lay-filter="test">
        <li class="layui-nav-item layui-nav-itemed">
          <a class="" href="javascript:;">源码清单</a>
          <dl class="layui-nav-child">
            <dd><a href="/upload_page/" target="main-iframe-name">源码清单上传</a></dd>
            <dd><a href="/check_page/" target="main-iframe-name">源码清单检查</a></dd>
            <dd><a href="/settag/" target="main-iframe-name">SVN打标签</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
          <a href="javascript:">报表查询</a>
          <dl class="layui-nav-child">
            <dd><a href="/check_count/" target="main-iframe-name">源码检查统计</a></dd>
          </dl>
        </li>
          <!--
           <li class="layui-nav-item"><a href="door.html" target="main-iframe-name">name</a></li>
           -->
      </ul>
    </div>
  </div>

  <div class="layui-body">
    <!-- 内容主体区域 -->

        <iframe id="main-iframe-id" name="main-iframe-name" src="/mainblank/"  scrolling="no" style="overflow: visible;" frameborder="no" width="100%" height="100%"></iframe>

  </div>

  <div class="layui-footer">
    <!-- 底部固定区域 -->
      <div class="layui-row">
          <div class="layui-col-md4">
              上次登录IP：
              {{ data.loginip }}
          </div>
          <div class="layui-col-md4">
              上次登录时间：
              {{ data.lastlogintime }}
          </div>
      </div>
  </div>
</div>
<script src="/static/layui/layui.js"></script>
<script>
//JavaScript代码区域
layui.use(['element','layer','form'], function(){
  var element = layui.element,
  layer = layui.layer,
  form = layui.form;



});
</script>
</body>
</html>