<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>main-blank-page</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
</head>
<body>
    <div class="layui-fluid">

        <div class="layui-row">
            <!--
            占行，md共12格，满12换行
            -->
            <div class="layui-col-md12"  style="visibility: hidden">
                <img src="/static/pic/white.jpg">
            </div>

            <div class="layui-col-md4"  style="visibility: hidden">
                <img src="/static/pic/white.jpg">
            </div>
            <div class="layui-col-md4">
                <img src="/static/pic/mainpage.jpg">
            </div>
            <div class="layui-col-md4"  style="visibility: hidden">
                <img src="/static/pic/white.jpg">
            </div>
        </div>
    </div>
</body>
</html>